<div class = "grid_100 c1 pad_top_2 pad_bottom left">

<div class="grid_100 left pad_left_2">
  <h4>Books Index</h4>

</div>

<div class="grid_100 b1 left"></div>

<div class="grid_45 left pad_left_2 pad_right_2">

  <h4>Books List</h4>

  <ol>
    <% @books.each do |book| %>
      <li><a href="/books/<%= book.id %>">
      <%= book.title %></a></li>
      <% end %>
  </ol>

</div>

<div class="grid_45 left  pad_left_2 pad_right_2">


  <h4>Menu Options</h4>

  <p class="p_blue"><a href="/books/:id">Show Books</a></p>

  <p class="p_blue"><a href="/books/:id/edit">Edit Books</a></p>

  <p><a href="/books/new">New Book</a></p>

  <p><a href="/">Back to Homepage</a></p>

</div>

</div>

<div class="grid_100 left">
  <div class="center_text pad_all">
    <h1>"Try not to become a man of success, but rather try to become a man of value."</h1>
  <p class="albert_quote">Albert Einstein</p>
  </div>
</div>
