<div class = "space_top"></div>

<div class="grid_100 c1 left clearfix">
  <div class="grid_45 left clearfix pad_right">
    <h3>The true sign of intelligence is not knowledge but imagination.</h3>
    <p class="albert_quote">Albert Einstein</p>
  </div>
  <div class="grid_45 left clearfix">
    <h3>Anyone who has never made a mistake has never tried anything new.</h3>
    <p class="albert_quote">Albert Einstein</p>
  </div>
</div>
