<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,300,400italic,600italic,600,300italic' rel='stylesheet' type='text/css'
    >
    <style>

  #header_box, #footer_box {
	     clear: both;
     }


  #header_box {
	   width: 100%;
	   height: auto;
    }


    header {
	   max-width: 1000px;
	   margin-left: auto;
	   margin-right: auto;
     text-align:center;
    }

  nav {
    float:center;
    font-size: 75%;
  }

  nav li {
    display:inline;
  }

  #nav_box {
    width:100%;
  }

  nav a:link, nav a:visited {
    text-decoration:none;
    padding:0 5%;
    background: none;
    color: #43a7de;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }

  nav a:hover {
    color:black;
  }

    ul {
      list-style-type: none;
      text-decoration: none;
      font-family: 'Raleway', sans-serif;
      font-weight:300;
      color:grey;
    }

    ol {
      list-style-type: none;
      text-decoration: none;
      font-family: 'Raleway', sans-serif;
      font-weight:300;
      color:#ffffff;
    }


    h1 {
      font-family: 'Raleway', sans-serif;
      font-weight:600;
      color:#43a7de;
      font-size: 24pt;
    }

    h2 {
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-weight:600;
      color:grey;
    }

    h3 {
      text-align: center;
      font-family:'Raleway', sans-serif;
      font-weight:600;
      color:grey;
      font-size: 40pt;
    }

    h4 { /*lib index page*/
      font-family: 'Raleway', sans-serif;
      font-weight:600;
      color:#ffffff;
      font-size: 20pt;
    }

    p {
      font-family: 'Raleway', sans-serif;
      font-weight:400;
      color:grey;
    }

    .p_blue {
      font-family: 'Raleway', sans-serif;
      font-weight:400;
      color:#43a7de;
    }

    .albert_quote {
      font-family: 'Raleway', sans-serif;
      font-weight:400;
      color:grey;
      margin: 5%;
    }

    /* center text */
    .center_text {
      text-align: center;
    }


    a:link, a:visited {
      text-decoration:none;
      background: none;
      color: white;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
    }

    a:hover {
    	color:grey;
    }

    .b1{
	     margin:2% auto 5% auto;
	     border-style:solid;
	     border-width:thin;
	     border-top-color:grey;
	     border-right:none;
	     border-bottom:none;
	     border-left:none;
     }



     .left {
       float:left;
     }

     .right {
       float:right;
     }

     .center{
       margin-left:auto;
       margin-right:auto;
     }

     .space_top {
       margin-top:5%;
      }

      .space_right {
        margin-right:5%;
      }

       .space_bottom {
         margin-bottom:5%;
       }

      .space_left {
        margin-left:5%;
      }

     .pad_top {
       padding-top:5%;
      }

     .pad_right {
       padding-right:5%;
      }

      .pad_bottom {
      padding-bottom:5%;
      }

      .pad_left {
        padding-left:5%;
      }

      .pad_all {
        padding: 5%;
      }

      .pad_top_2 {
        padding-top:2%;
       }

      .pad_right_2 {
        padding-right:2%;
       }

       .pad_bottom_2 {
       padding-bottom:2%;
       }

       .pad_left_2 {
         padding-left:2%;
       }

       .pad_all_2 {
         padding: 2%;
       }

       .pad_right_3 {
         padding-right:15%;
       }

       .pad_left_3 {
         padding-left:15%;
       }

       .pad_right_4 {
         padding-right:25%;
       }

       .pad_left_4 {
         padding-left:25%;
       }

      .c1{
        background-color:rgba(67,167,222, 0.7)
      }

      .c2 {
        background-color: rgba(192,192,192,0.6)
      }

      #footer_box{
	      background:none;
      }

      footer {
        background-color:rgba(192,192,192,0.6);
	      vertical-align: middle;
	      width:100%;
        color: #00A1A6;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        padding-top: 5%;
        padding-bottom: 5%;
      }

/* -- FORMS CSS  -- */

      form li{
        color:grey;
        display:block;
        margin-bottom:2%;
      }

      input, label, textarea{
        color:grey;
        width:45%;
        padding:10px;
        font-size:1.1em;
      }
      textarea, output {
        color:grey;
      }

      textarea, input {
	      font-family: 'Raleway', sans-serif;
	      font-weight:300;
        color:#91908f;
        border-radius:5px;
        background:#ffffff;
        border:2px #91908f ;
        outline: none;
        width: 60%;
        display: block;
      }
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

  label.error{color:black;}/*color of error text*/
  input.error, textarea.error{background:#ffffff;}/*color of error highlight*/

input:focus, textarea:focus{
  background:#ffffff;
  color:grey;
  font-weight:300;
}
.extra_field{
 display:none;/* hides robot test field */
}


#submit{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:35%;
  background: #ffffff;
  -webkit-appearance:none;
}


Grid system
.grid_100,.grid_10,.grid_15,.grid_20,.grid_25,
.grid_30,.grid_35,.grid_40,.grid_45,.grid_50,
.grid_55,.grid_60,.grid_65,.grid_70,.grid_75,
.grid_80,.grid_85,.grid_90,.grid_33,.grid_66{

}

.grid_100{
  width:100%;
  clear:both;
}

.grid_10{
  width:10%;
}

.grid_15{
  width:15%;
}

.grid_20{
  width:20%;
}

.grid_25{
  width:25%;
}

.grid_30{
  width:30%;
}

.grid_35{
  width:35%;
}

.grid_40{
  width:40%;
}

.grid_45{
  width:45%;
}

.grid_50{
  width:50%;
}

.grid_55{
  width:55%;
}

.grid_60{
  width:60%;
}

.grid_65{
  width:65%;
}

.grid_70{
  width:70%;
}

.grid_75{
  width:75%;
}

.grid_80{
  width:80%;
}

.grid_85{
  width:85%;
}

.grid_90{
  width:90%;
}

.grid_33{
  width:33.33%;
}

.grid_66{
  width:66.66%;
}



    </style>
    <title>LM 5000</title>
  </head>
  <body>

    <div id="header_box">
      <header class="clearfix">
    <div id="nav_box">
      <nav class="clearfix">
        <div class="center">
          <li><a href="/"><h1>Welcome to Library Manager 5000</h1>
          <p><em>The library that helps libraries!</em></p>
          </a></li>
          </br>
        </div>
        <ul>
          <li><a href="/libraries">Libraries List</a></li>
          <li><a href="/books">Book Selecion</a></li>
          <li><a href="/patrons">Customers List</a></li>
          <li><a href="/staff_members">Employee List</a></li>
          <li><a href="http://lincolnlibraries.org/locations/"target="_blank">Find the closest location!</a></li>
        </ul>
      </nav>
    </div>
    </header>
    </div>


      <div class = "grid_100 left b1"></div>
      <div class="grid_100 left"></div>
        <%= yield %>

    <div id="footer_box">
      <footer class="left">
        <p>Visit your local library, today!</p>
      </footer>
    </div>
  </body>
</html>
