<% if @library.errors.any? %>
  <% @library.errors.full_messages.each do |m| %>
    <p>Error: <%= m %></p>
  <% end %>
<% end %>

<div class="grid_100 left c1 pad_bottom">

  <div class="grid_100 left pad_left_2">
    <h4>New Library</h4>
  </div>

  <div class="grid_100 b1"></div>

<div class="grid_45 left pad_left_2 pad_right_2">

  <div id="form_container">

      <form action="/libraries" method="POST">

      	<h4>Add Library to LM-5000</h4>

      	<ul>

      		<li>
      		  <label>Name</label>
            <input type="text" name="branch_name" required >
      		</li>

      		<li>
      		  <label>Address</label>
      		  <input type="text" name="address" required>
      		</li>

      		<li>
      		  <label>Phone</label>
            <input type="text" name="phone_number" maxlength="12" >
      		</li>

      		<input id="submit" type="submit" value="Add Library">
      	</ul>
      </form>
  </div>
</br>

</div>

<div class="grid_45 left  pad_left_2 pad_right_2">


  <h4>Menu Options</h4>

  <p class="p_blue"><a href="/libraries/:id">Show Libraries</a></p>

  <p class="p_blue"><a href="/libraries/:id/edit">Edit Libraries</a></p>

  <p><a href="/libraries/new">New Library</a></p>

  <p><a href="/">Back to Homepage</a></p>

</div>
</div>

<div class="grid_100 left">
  <div class="center_text pad_all">
    <h1>"We are the children of a technological age. We have found streamlined ways of doing much of our routine work. Printing is no longer the only way of reproducing books. Reading them, however, has not changed."</h1>
  <p class="albert_quote">Lawrence Clark Powell</p>
  </div>
</div>
