<% if @staff_member.errors.any? %>
  <% @staff_member.errors.full_messages.each do |m| %>
    <p>Error: <%= m %></p>
  <% end %>
<% end %>

<div class="grid_100 left c1 pad_bottom">

  <div class="grid_100 left pad_left_2">
    <h4>New Staff Member</h4>
  </div>

  <div class="grid_100 b1"></div>

<div class="grid_45 left pad_left_2 pad_right_2">

  <div id="form_container">

      <form action="/staff_members" method="POST">

      	<h4>Add Staff Member to LM-5000</h4>

      	<ul>

      		<li>
      		  <label>Name</label>
            <input type="text" name="name" required >
      		</li>

      		<li>
      		  <label>Email Address</label>
      		  <input type="text" name="email" required>
      		</li>

      		<input id="submit" type="submit" value="Add Staff Member">
      	</ul>
      </form>
  </div>
</br>

</div>

<div class="grid_45 left  pad_left_2 pad_right_2">


  <h4>Menu Options</h4>

  <p><a href="/staff_members/new">New Staff Member</a></p>

  <p><a href="/staff_members">Back to Staff Members Index</a></p>

  <p><a href="/">Back to Homepage</a></p>

</div>

</div>

<div class="grid_100 left center_text pad_top pad_bottom">
  <h1>"Reading furnishes the mind only with materials of knowledge; it is thinking that makes what we read ours."</h1>
  <p>John Locke</p>
</div>
