<div class="clearfix grid_100 c1 left  pad_bottom">
<div class="grid_100 pad_left_2">
<h4>Edit Staff Members</h4>
</div>
<div class="gird_100 b1"></div>
<div class="grid_45 left pad_left_2">

<% if @staff_member %>

<h4><%= @staff_member.name %></h4>

   <p>
     <em>Name:</em>
   </p>
   <p class="p_grey_bold">
     <%= @staff_member.name %>
   </p>
   <p>
     <em>Email Address:</em>
   </p>
   <p class="p_grey_bold">
     <%= @staff_member.email %>
   </p>

   <p><a
     href="/staff_members/<%= @staff_member.id %>/edit">Edit this Staff Member
   </a></p>


   <% end %>

</div>


  <div class="grid_45 left  pad_left_2 pad_right_2">


    <h4>Menu Options</h4>

    <p><a href="/staff_members/new">New Staff Member</a></p>

    <p><a href="/staff_members">Back to Staff Members Index</a></p>

    <p><a href="/">Back to Homepage</a></p>

  </div>

</div>

  <div class="grid_100 left">
    <div class="center_text pad_all">
      <h1>"There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves."</h1>
    <p class="albert_quote">Will Rogers</p>
    </div>
  </div>
